@font-face {
    font-family: 'aaarghnormal';
    src: url('fonts/aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('fonts/aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
         url('fonts/aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushan_script/ks-webfont.eot');
    src: url('fonts/kaushan_script/ks-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kaushan_script/ks-webfont.woff2') format('woff2'),
         url('fonts/kaushan_script/ks-webfont.woff') format('woff'),
         url('fonts/kaushan_script/ks-webfont.ttf') format('truetype'),
         url('fonts/kaushan_script/ks-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clear{
    clear: both;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    height: 27%;
    width: 90%;
    border-bottom: 5px solid #EC493C;
    border-left: 5px solid #EC493C;
    border-right: 5px solid #EC493C;
    background-color: #F2F2F2;
    box-shadow: 0px 2px 8px;
}
h1{
    margin-top:0;
    font-size: 3.5em;
    text-align: center;
    color: #EC493C;
    text-shadow: 1px 2px 4px 3px;
    font-family: 'kaushan_scriptregular';
}
.what{
    display: inline-block;
    width: 65%;
}
h3{
    margin-top: 7%%;
    font-size: 2em;
    border-bottom: 2px solid #EC493C;
    text-align: center;
}
p,li,h3,h4,h5{
     font-family: 'aaarghnormal';
}
.what > p{
    text-align: justify;
}
.imgkent{
    width: 35%;
    float: right;
    margin-top: 15%;
}
.img1{
    display: inline-block;
    width:55%;
    margin-left: 27%;
    box-shadow: 1px 5px 30px 1px;
}

.legende1{
  display: block;
  width: 55%;
  margin-top: 2%;
  margin-left: 27%;
  font-size: 0.8em;
}

.pratique > ul{
    width:70%;
    margin:0 auto;
}

li {
  text-align: justify;
  margin-top: 1.5%;
  list-style-type: circle;
}

h4{
    text-align: center;
}
.binome > img{
    display: block;
    float: left;
    box-shadow: 1px 5px 30px 1px;
}

.binome > p{
    display: block;
    text-align: justify;
    margin-left: 48%;
}

.cycle{
    margin-top: 15%;
}

.cycle > img{
    display: inline-block;
    margin-left: 15%;
}

.conference > iframe{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%
}

footer{
    height: 60px;
    margin-top: 5%;
    background-color: #F2F2F2;
    border-top: 5px solid #EC493C;
    border-left:5px solid #EC493C;
    border-right:5px solid #EC493C;
    box-sizing: border-box;
    box-shadow:0px -1px 9px ;
    
}
footer > h5 {
    margin-left: 7%;
    float: left;
}
footer > ul {
    float: right;
    width: 80%;
    margin-top: 20px;
}
footer > ul > li{
    display: inline;
    margin-left: 1%;
}
footer > ul > li > a{
    color: black;
    text-decoration: none;
}
footer > ul > li > a:hover{
    color: black;
    text-decoration: underline;
}
footer > ul > li > a:visited{
    color: grey;
}
